# Keil MDK 构建产物
*.o
*.d
*.crf
*.axf
*.htm
*.lnp
*.map
*.lst
*.dep
*.iex
*.sct
*.build_log.htm
*.uvguix.*
WatchV1/MDK-ARM/DebugConfig/
WatchV1/MDK-ARM/RTE/_*/
WatchV1/MDK-ARM/WatchV1/
EventRecorderStub.scvd

# 软件资料包（310M，不入库）
04_Software/

# Keil 生成物 / 个人设置（补充）
*.hex
*.uvoptx
JLinkLog.txt
JLinkSettings.ini
